.game {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 10px;
  cursor: pointer;
}

.game.played {
  border-left: 5px solid green;
}

.game h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
